.body{
    background-color: rgba(39, 39, 39, 0.93);
}

.post{
    color: aliceblue;
    width: 100%;
    display: flex;
    margin-top: 15px;
    background-color: 0px 0px 5px 0px #00000096;
    min-height: 65px;
}

#hideAll{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-image: url("images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
 }

.loadmore{
    text-align: center;
    padding-top: 50px;
    background-color: rgb(54, 52, 52);
}

.comment{
    color: aliceblue;
    width: 100%;
    display: flex;
    border: #ffffff38 1px solid;
    margin-top: 6px;
    background-color: rgb(29, 29, 29);
    min-height: 65px;
}

.loginform{
    text-align: center;
    margin-bottom: 8px;
}

.searchform{
    text-align: center;
    margin-bottom: 2px;
}

.submitted {
    display: table;
}

.submitted p{
    margin: 0;
    color: darkgray;
    font-size: 10px;
}

form.createform{
    color: aliceblue;
    display: flex;
}

form.createuserform{
    color: aliceblue;
    display: flex;
    justify-content: center;
}

#newcomment{
    display: none;
}

form label{
    display: flex;
    float: left;
}

fieldset.login{
    margin: 15px 3px 10px 0;
    background-color: #3e3e3e;
    border: black 1px solid;
    
}

fieldset.login *{
    width: -moz-available;
}

fieldset.search{
    margin: 15px 3px -10px 0;
    padding-top: 5px;
    background-color: #3e3e3e;
    border: black 1px solid;
}

fieldset.search input{
    width: 97%;
}

fieldset.createpost{
    margin: 10px 3px;
    width: 700px;
    height: 500px;
    padding: 14px;
    background-color: #484848;
    border: black 1px solid;
}

fieldset.commentpost {
    margin: 0px 3px;
    width: 700px;
    padding: 14px;
    width: -webkit-fill-available;
}

fieldset.createuser{
    margin: 10px 3px;
    width: 700px;
    height: 500px;
    padding: 14px;
    background-color: #484848;
    border: black 1px solid;
}

.create .createinput{
    width: 100%;
    background-color: #2d2d2d;
    color: aliceblue;
    border-color: cornflowerblue;
}

.create .createfile{
    width: 100%;
    color: aliceblue;
}

.create textarea{
    width: 100%;
    background-color: #2d2d2d;
    border-color: cornflowerblue;
    color: white;
}

.loginheader{
    background-color: #545454;
    display: inline-table;
    border-radius: 0px 0px 10px 10px;
    color: aliceblue;
    font-size: 13px;
}

.loginheader img{
    width: 15px;
    margin-top: -3px;
}

.loginheader p{
    margin: 0;
    padding: 0px 15px 4px 15px;
}

.loginheader a{
    color: #ff4500;
    font-weight: bold;
}

.create p{
    padding: 0 5px;
}

.postcontent{
    border: #000000a8 1px solid;
    margin: 0 12px 12px 0;
    width: 95%;
    background-color: #363636;
    border-radius: 3px;
    display: inline-flex;
}

.textpostcontent{
    border: #000000a8 1px solid;
    width: 100%;
    background-color: #363636;
    border-radius: 3px;
    display: inline-flex;
}

.textpostcontent p{
    padding: 10px;
    margin: 0;
}

.postcontent img{
    border-radius: 3px;
    width: auto;
    max-width: 100%;
}


.postcontent p{
    padding: 10px;
    margin: 0;
}

.submitlink{
    background-color: #4c4c4c;
    margin: 0 2px 10px;
    text-align: center;
}

.submitlink:hover{
    background-color: #303030;
}

.submitlink p{
    padding: 3px;
}

.submitlink a{
    text-decoration: none;
    color: rgb(140, 179, 217);
    font-weight: 800;
}

.loginbtn{
    margin: 5px;
    float: right;
    border-radius: 0;
    width: -webkit-fill-available;
    background-color: #545454;
}

.flexdiv{
    min-width: 25%;
    max-width: 75%;
}

.logininput input{
    width: 47%;
    height: 25px;
    margin: 5px 0;
}

.comments{
    -webkit-margin-before-collapse: discard;
}

.comments p{
    margin: 8px 0;
    font-size: 10px;
}

.postheader{
    margin: 6px 0 0 0;
}

.postheader a{
    text-decoration: none;
    color: white;
}

.comments a{
    font-weight: 800;
    margin-right: 7px;
    color: gray;
}

.imagepost{
    margin: 0px 12px 0 0;
    display: flex;
    align-items: center;
}

.fullimagepost{
    display: none;
}

.logo{
    width: 50px;
    height: 50px;
    float: left;
}

.votes{
    float: left;
    margin: 0px 35px 0 7px;
    max-height: 65px;
    max-width: 16px;
    justify-items: center;
    display: inline-grid;
    text-decoration: none;
}

.numvotes{
    font-weight: bold;
    font-size: 11px;
    margin: 0;
}

.votes a:hover{
    text-decoration: none;
}

#content{
    background-color: rgba(39, 39, 39, 0.93);
}

#wrapper{
    display: flex;
    flex-wrap: wrap;
}

#menu{
    display: flex;
}

#menu a:hover{
    text-decoration: none;
}

#content{
    width: 82%;
}

#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(29, 29, 29, 0.116);
}

.navbutton{
    border-color: #ffffff00 !important;
}

.signupmodal{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    color: white;
    pointer-events: auto;
    background-color: #484848;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
}

.signup-form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #2d2d2d;
    background-clip: padding-box;
    border-color: cornflowerblue;
}

.hamburgeritem{
    color: white !important;
}

.flex{
    display: flex;
}

.flex a{
    color: black;
    text-decoration: none;
}

.mobileheader{
    padding-left: 15px;
    display: inline;
    font-size: 1em;
    color: #ffffff;
}

#header h1{
    margin-bottom: 0;
    font-family: 'Bree Serif', serif;
}

#header ul{
    display: flex;
    list-style-type: none;
    margin-bottom: -2px;
    align-self: flex-end;
}

#header ul li a{
    color: cornflowerblue;
    padding: 0px 8px 0px 8px;
    font-weight: bold;
    margin-bottom: 0;
}

#header ul li a{
    margin-left: 15px;
}

#header ul a.active{
    border-left: cornflowerblue 2px solid;
    border-right: cornflowerblue 2px solid;
    border-top: cornflowerblue 2px solid;
    background-color: rgba(39, 39, 39, 0.93);
}

#sidebar{
    float: right;
    width: 18%;
    height: auto;

    background-color: rgba(12, 10, 10, 0.829);
}

.fulltextpost{
    display: none;
}

.footer{
    background-color: #363434;
    display: flex;
    font-size: small;
    padding-top: 500px;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

.footer p:not(:last-child){
    margin: 0;
}

#sidebar img{
    margin-left: 3px;
    width: 98%;     
}

#hamburgernav{
    display: none;
}

.mobilenav{
    display: none;
}

html{
    background-color: #363434;
}

@media only screen and (max-width: 1100px) {
    .loginheader{
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    #sidebar{
        display: none;
    }

    .comments{
        display: none;
    }

    .mobilenav{
        display: flex;
        justify-content: space-around;
        padding-top: 3px;
        width: 100%;
        height: 2em;
        background-color: #383838;
    }

    .mobilenav a{
        text-decoration: none;
        color: #989898;
    }

    .votes{
        display: none;
    }

    #header{
        display: none;
    }

    .fulltextpost{
        display: block;
    }

    .footer{
        display: none;
    }

    .postheader, .submitted{
        padding: 0 0 5px 11px;
    }

    .post{
        padding: 0 15px 0 15px;
    }

    .textpostcontent{
        border-radius: 0px;
        border: 0;
        border-top: #000000a8 1.1px solid;
        border-bottom: #000000a8 1.1px solid;
    }

    .postcontent{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .navbars{
        color: white;
    }

    .flexdiv{
        min-width: 100%;
        box-shadow: 0px 0px 5px 0px #000000;
        background-color: #383838;
        border-radius: 2px;
    }

    #content{
        width: 100%;
        background-color: #272727;
    }

    .imagepost{
        display: none;
    }

    #hamburgernav{
        display: block;
        background-color: rgb(29, 29, 29);
        font-weight: bold;
    }

    .bold{
        font-weight: 700;
    }

    .fullimagepost{
        display: block;
    }

    .fullimagepost img{
        max-width: 100%;
        min-width: 100%;
    }

    fieldset.commentpost{
        padding-top: 0;
    }

    fieldset.createpost{
        width: -webkit-fill-available;
    }
}